@use "../abstracts/variables" as *;

.footer {
  text-align: center;
  padding: $spacing-md;
  background-color: $color-accent;
  color: $color-white;

  p {
    margin: 0.25rem 0;
    font-size: $font-sm;
  }
}