@use "../abstracts/variables" as *;

.header {
  background: $color-primary;
  color: white;
  padding: 1rem;

  &__top {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  &__burger {
    font-size: 1.8rem;
    color: white;
  }

  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    font-family: $font-h1;
    font-size: 1.2rem;
  }

  &__logo {
    width: 30px;
  }

  &__nav {
    display: none;
    margin-top: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &.is-open {
    .header__nav {
      display: block;
    }
  }
}

@media (min-width: 768px) {

  .header {

    &__burger {
      display: none;
    }

    &__nav {
      display: block;
      margin-top: 0;
    }

    &__list {
      flex-direction: row;
      justify-content: flex-end;
      gap: 2rem;
    }

    &__brand {
      justify-content: flex-start;
    }
  }

}