.filters {
  display: flex;
  gap: .5rem;
  padding: 0 1rem 1rem;
  overflow-x: auto;

  &__btn {
    padding: .5rem 1rem;
    border-radius: 20px;
    background: $color-secondary-light;
  }

  .active {
    background: $color-primary;
    color: white;
  }
}