@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  background-color: $color-secondary;
  color: $color-white;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &:focus {
    outline: 3px solid $color-primary;
    outline-offset: 2px;
  }
}