$color-primary: #152732;

$color-secondary-light: #ABC2CB;
$color-secondary: #6B8994;
$color-secondary-dark: #31566C;

$font-h1: 'Poppins', sans-serif;
$font-h2: 'Roboto', sans-serif;
$font-text: 'Open Sans', sans-serif;